/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt { tapping-term-ms = <400>; };

/ {
    combos {
        compatible = "zmk,combos";

        Change_to_qwerty {
            bindings = <&tog 4>;
            key-positions = <17 18>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |TAB:ESC   | ; : | , < | . > |  P  |  Y  |         | F   |  G   |  C  |  R  |  L  | BKSP |
            // | CTRL     |  A  |  O  |  E  |  U  |  I  |         |  D  |  H   |  T  |  N  |  S  |  DEL |
            // | LSFT:CAP |' "  | q @ | J   | K   |  X  |         |  B  |  M   |  W  |  V  |  Z  | TAB  |
            //                        | GUI | LWR | SPC |         | ENT | RSE  | ALT |

            bindings = <
&kp TAB         &kp FSLH  &kp COMMA  &kp DOT   &kp P             &kp Y            &kp F      &kp G         &kp C     &kp R  &kp L  &kp RET
&lt 2 CAPSLOCK  &kp A     &kp O      &lt 3 E   &lt 1 U           &kp I            &kp D      &lt 2 H       &kp T     &kp N  &kp S  &kp SQT
&kp LSHFT       &kp SEMI  &kp Q      &kp J     &kp K             &kp X            &kp B      &kp M         &kp W     &kp V  &kp Z  &kp RSHIFT
                                     &kp LALT  &kp LEFT_CONTROL  &kp BACKSPACE    &kp SPACE  &kp LEFT_WIN  &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL   &kp AT     &kp HASH   &kp DLLR  &kp PRCNT        &kp RIGHT_BRACE        &kp LS(EQUAL)  &kp LS(MINUS)     &kp RIGHT_BRACKET  &kp RPAR  &kp RET
&kp LCTRL  &kp LC(X)  &kp LC(C)  &kp LC(V)  &trans    &trans           &kp AMPERSAND          &kp NUBS       &kp LS(NUBS)      &kp SLASH          &kp BSLH  &kp GRAVE
&kp LSHFT  &trans     &trans     &trans     &trans    &trans           &kp RIGHT_PARENTHESIS  &kp EQUAL      &kp RS(NUMBER_1)  &kp RS(NUMBER_1)   &kp PIPE  &kp TILDE
                                 &kp LGUI   &trans    &kp BACKSPACE    &kp SPACE              &trans         &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans                &kp AT             &kp LA(LC(SINGLE_QUOTE))  &kp LA(LC(BACKSLASH))  &kp LA(LC(NUMBER_1))    &trans  &kp N7        &kp N8        &kp N9        &trans  &trans
&trans  &kp LA(LC(NUMBER_2))  &kp PERCENT        &kp ASTRK                 &kp LEFT_PARENTHESIS   &kp LA(LC(NUMBER_3))    &trans  &kp N4        &kp N5        &kp NUMBER_6  &trans  &trans
&trans  &trans                &kp LA(LC(GRAVE))  &kp LA(LC(LEFT_BRACE))    &kp LA(LC(RBRC))       &kp LS(NUMBER_6)        &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
                                                 &trans                    &trans                 &trans                  &trans  &kp N0        &trans
            >;
        };

        navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp C_VOLUME_UP    &kp K_MUTE  &kp UP_ARROW  &kp KP_NUMLOCK  &soft_off  &soft_off
&trans  &trans  &trans  &trans  &trans  &trans    &kp C_VOLUME_DOWN  &kp LEFT    &kp DOWN      &kp RIGHT       &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans             &trans      &trans        &trans          &trans     &trans
                        &trans  &trans  &trans    &trans             &trans      &trans
            >;
        };

        qwerty {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E      &kp R  &kp T        &kp Y      &kp U      &kp I      &kp O    &kp P      &kp ENTER
&kp CAPS   &kp A  &kp S  &kp D      &kp F  &kp G        &kp H      &kp J      &kp K      &kp L    &kp SEMI   &kp APOS
&kp LSHFT  &kp Z  &kp X  &kp C      &kp V  &kp B        &kp N      &kp M      &kp COMMA  &kp DOT  &kp MINUS  &kp RSHFT
                         &kp LCTRL  &mo 5  &kp SPACE    &kp SPACE  &kp RCTRL  &kp RALT
            >;
        };

        layer_5 {
            bindings = <
&kp ESC  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5    &trans  &trans  &trans  &trans  &trans  &trans
&trans   &trans        &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans   &trans        &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                     &trans        &trans        &trans    &trans  &trans  &trans
            >;
        };
    };
};
